*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}
header{
 background-color:#FF9A4B;
 height:50px;
}

.item-boxes{
  width: 960px;
  margin: 50px auto;
  display: flex;
  justify-content: center;
}

.item-box{
  width: 300px;
  background-color: #EEEEEE;
  margin-right: 30px;
  padding: 10px;
  position: relative
}

.step-box{
  background-color: #FF9A4B;
  color:white;
  position: absolute;
  top:0px;
  left: 0px;
}
.image{
  background-size: cover;
  height: 150px;
  background-position: bottom;
}

h3{
 margin: 15px auto 5px auto;
}

footer{
  background-color:#AAAAAA;
  height: 50px;
}

.flow01{
  background-image: url(img/flow01.png);
}

.flow02{
  background-image: url(img/flow02.png);
}

.flow03{
  background-image: url(img/flow03.png);
}

.item-box:last-child{
  margin-right: 0;
}